*
{
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    background-color:#000000;
}

/* ***************** */
/* **home page */
/* ******************* */

.home-section
{
    background:url(images/home.jpg) center no-repeat ;
    background-size: cover;
    height: 100vh;      
    position: relative;
}
.home-logo-icon
{
    width: 90px;
    position: absolute;
    left: 190px;
}

.home-navigation
{
    position:absolute;
    top: 20px;
    right: 200px;
    list-style: none;
}
   

.home-header
{
    position: relative;
}

.nav-link:visited,.nav-link:link
{
    text-decoration: none;
    padding:10px 10px;
    color:#212529;
    background-color: #FFA602;
    margin-right:-4px;
}


.nav-link:hover,.nav-link:active
{
    background-color: #f03e3e;
    color:#fff;
}

.home-text-section
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.home-text-container
{
    background-color:#111;
    opacity: 50%;
    border:1px solid #fff;   
}

.home-text-logo
{
    font-size: 58px;
    color: #fff;
    padding:44px 38px;
  
}

.page-footer
{
    z-index: 1;
    position: fixed;
    bottom: 0;    
    width: 100%;
}

.page-footer-container
{
    margin:0 200px;
    background-color: #fff;
    padding:12px 30px;
    font-size: 14px;
}

.footer-link:visited,.footer-link:link
{
    color:#111;
    text-decoration: none;
}


/* ***************** */
/* **aboutus page */
/* ******************* */

.aboutus-section
{
    margin: 0 200px;
    height: 100vh;
    background-color: #d6cfcf;
    position: relative;
}

.aboutus-title
{
    font-size: 12px;
    color: #111;
    padding:30px 0 0 0;
    text-align: center;
    font-weight: 500;
}

.aboutus-image
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: .5;
    transition: .5s;
}
.aboutus-image:hover
{
    opacity: 1;
}

/* 
***********************
**contact-us section***
*********************** */

.contactus-section
{
    height:100vh;
    margin: 0 200px;
    position: relative; 
}

.contactus-title
{
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding:30px 0 0 0;
    font-weight: 500;
}

.contactus-form
{
    height: 260px;
    width: 100%;
    background-color: #d6cfcf;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
 
}

.input-text
{
    width: 60%;
    height: 30px;
    border: none;
    border-radius:20px;
    text-indent: 10px;
    outline: none;
    margin-bottom: 10px;
    position: relative;
    top:50px; 
}

.input-submit
{
    width: 90px;
    height: 35px;
    background-color: #FFA602;
    border: none;
    border-radius:200px;
    box-shadow: 0 0  4px 4px #00000066;
    display: block;
    position: relative;
    top:50px;
    left:400px;
}   
.input-submit:hover
{
    background-color: #e03131; 
     
}